.w {
    width: 1200px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: #999;
}

.header {
    height: 82px;
    border-bottom: 2px solid #b1191a;
}

.logo {
    position: relative;
    padding-top: 15px;
}
.logo b {
    display: block;
    position: absolute;
    left: 200px;
    bottom: 5px;
    background: url(../images/login_logo.png) no-repeat;
    width: 110px;
    height: 40px;
}
.r b{
    display: inline-block;
    right: 0;
    left: -25px;
    bottom: 0;
    width: 18px;
    height: 14px;
    background: url(../images/q-icon.png) no-repeat;
}
.r {
    position: relative;
    float: right;
    margin-top: 35px;
}
.banner_text b {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(../images/icon-tips.png) no-repeat;
}
.banner_text {
    background: #fff8f0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.banner_text a {
    color: #333;
}
.banner_text a:hover {
    text-decoration: underline;
}
.login_banner {
    position: relative;
    height: 475px;
}
.banner_bg {
    background: url(../images/9050d133eff8036e.jpg) no-repeat;
    height: 475px;
    width: 100%;
    background-size: 100% 100%;
}
.login_form {
    position: absolute;
    right: 133px;
    bottom: 25px;
    width: 346px;
    height: 440px;
    background-color: pink;
    z-index: 2;
    background: #fff;
}
.login_hd {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff8f0;
    text-align: center;
}
.login_hd .hd {
    text-align: center;
    margin-left: 27px;

    width: 90%;
}
.login_hd .hd b{
    display: inline-block;
    background: url(../images/icon-tips.png) no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.login_hd .hd p {
    display: inline;
}
.bd .saoma  {
    float: left;
    position: relative;
    width: 174px;
    height: 54px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4
}
.bd .saoma a {
    position: absolute;
    width: 99%;
    height: 18px;
    border-right: 1px solid #f4f4f4;
    font-weight: 700;
    color: #e4393c;
    top: 18px;
    left: 0;
    text-align: center;
}
.bd .zhanghao a {
    width: 99%;
    height: 18px;
    font-weight: 700;
    color: #333;
}
.bd .zhanghao a:hover {
    color: #e4393c;
}
.bd .zhanghao{
    position: absolute;
    background: #fff;
    width: 174px;
    height: 55px;
    font-size: 18px;
    top: 28px;
    right: 0;
    padding-top: 18px;
    border-bottom: 1px solid #f4f4f4;
}
.b_hd {
    height: 168px;
    margin-top: 55px;
}
.erweima:hover {
    left: 20px;
}
.erweima {
    position: absolute;
    left: 90px;
    top: 110px;
    height: 173px;
    width: 165px;
    border: 1px solid #f4f4f4;
    float: left;
    transition: all .4s linear;
}
.erweima img {
    position: absolute;
    top: 12px;
    left: 7px;
}
.phone {
    margin-top: 20px;
    display: none;
    float: right;
}
.b_bd ul li {
    display: inline-block;
}
.b_bd ul {
    position: absolute;
    left: 96px;
    top: 293px;
    width: 257px;
    height: 17px;
}
.you b {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.you em {
    margin-right: 10px;
}
.you .how {
    background: url(../images/qr-coagent.png) no-repeat;
}
.you .one {
    background-position: 0px 0px;
}
.you .two {
    background-position: -27px 0px;
}
.you .three {
    background-position: -54px 0px;
}
.b_bd .you {
    position: absolute;
    top: 330px;
    left: 65px;
}
.last_bd {
    position: absolute;
    width: 346px;
    height: 50px;
    bottom: 0;
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfc;
}

.last_bd ul{
    position: absolute;
    bottom: 0;
    width: 306px;
    height: 50px;
    left: 40px;
    line-height: 50px;
}
.last_bd ul li b {
    display: inline-block;
    width: 19px;
    height: 18px;
}
.last_bd ul li {
    float: left;
}
.last_bd ul li:last-child{
    float: right;
}
.qq_wx b{
    vertical-align: middle;
    background: url(../images/QQ-weixin.png) no-repeat;
}
.qq span {
    margin: 0 10px;
}
.qq b{
    background-position: 0px 0px;
}
.wx b{
    background-position: -19px 0px;
}
.register b{
    background: url(../images/pwd-icons-new.png) no-repeat -102px -74px;
    vertical-align: middle;
}
.register {
    margin-right: 5px;
}
.register a {
    color: #b61d1d;
}
.footer {
    height: 120px;
    text-align: center;
}
.links {
    margin-top: 20px;
    height: 30px;
}

.copyright {
    line-height: 20px;
}
